{% extends 'index.html' %}
{% load bootstrap3 %}

{% block delete_student %}

<form action="{% url 'delete-student' student.id %}" method="post" class="form">{% csrf_token %}
        <p>Вы действительно хотите удалить {{ student.lastname }} {{ student.name }}  {{ student.secondname }}?</p>
        <button type="submit" class="btn btn-danger">
             Удалить
        </button>
        <a href="{%  url 'all-readers' %}" class="btn btn-primary">
             Назад
        </a>
</form>


{% endblock %}